In [1]:
import pandas as pd
df = pd.read_excel('/Users/neil/Documents/code/Research-Project/data/stock_data/S&P500_data.xlsx')
df

,Date,Open,High,Low,Close*,Avg. Stock Price,Avg. Sentiment Score,Tragectory
0,2023-06-29,4374.94,4398.39,4371.97,4396.44,4385.4350,0.5940,1
1,2023-06-30,4422.44,4458.48,4422.44,4450.38,4438.4350,0.6130,1
2,2023-07-03,4450.48,4456.46,4442.29,4455.59,4451.2050,0.5010,1
3,2023-07-05,4442.04,4454.06,4436.61,4446.82,4444.8825,0.6980,0
4,2023-07-06,4422.62,4422.62,4385.05,4411.59,4410.4700,0.4816,0
5,2023-07-07,4404.54,4440.39,4397.40,4398.95,4410.3200,0.4500,0
6,2023-07-10,4394.23,4412.60,4389.92,4409.53,4401.5700,0.3550,0
7,2023-07-11,4415.55,4443.64,4408.46,4439.26,4426.7275,0.4800,1
8,2023-07-12,4467.69,4488.34,4463.23,4472.16,4472.8550,0.5220,1
9,2023-07-13,4491.50,4517.38,4489.36,4510.04,4502.0700,0.7100,1
10,2023-07-14,4514.61,4527.76,4499.56,4505.42,4511.8375,0.6580,1
11,2023-07-17,4508.86,4532.85,4504.90,4522.79,4517.3500,0.3540,1
12,2023-07-18,4521.78,4562.30,4514.59,4554.98,4538.4125,0.5680,1
13,2023-07-19,4563.87,4578.43,4557.48,4565.72,4566.3750,0.5910,1
14,2023-07-20,4554.38,4564.74,4527.56,4534.87,4545.3875,0.5000,0
15,2023-07-21,4550.16,4555.00,4535.79,4536.34,4544.3225,0.5530,0
16,2023-07-24,4543.39,4563.41,4541.29,4554.64,4550.6825,0.6300,1
17,2023-07-25,4555.19,4580.62,4552.42,4567.46,4563.9225,0.5300,1
18,2023-07-26,4558.96,4582.47,4547.58,4566.75,4563.9400,0.3875,1
19,2023-07-27,4598.26,4607.07,4528.56,4537.41,4567.8250,0.7170,1
20,2023-07-28,4565.75,4590.16,4564.01,4582.23,4575.5375,0.5750,1
21,2023-07-29,4598.26,4607.07,4528.56,4537.41,4567.8250,0.2950,0